body {
    background: linear-gradient(to bottom, lightpink, orange);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightgray;}