body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f2f2f2;
}

.btn {
  position: relative;
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(255, 180, 180);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: top 0.5s, left 0.5s, box-shadow 1s ease, background-color 1s ease;
}

.btn:hover {
  top: 1px;
  left: 1px;
  box-shadow: 3px 3px 0px rgb(0, 0, 0);
  background-color: rgb(255, 111, 111);
}
